@import "tailwindcss";

.app{
  @apply text-center 
}
.main-container{
  @apply bg-amber-50 p-10 w-[600px] mx-auto rounded-2xl
}
.title {
  @apply text-4xl font-bold  py-4 
}

.container{
  @apply  rounded-2xl overflow-hidden w-[500px] mx-auto mb-2 text-left
}

.acc-title{
  @apply bg-gray-300 p-4 font-bold cursor-pointer
}

.acc-dec{
  @apply bg-gray-100 p-4 font-semibold
}