@import "tailwindcss";

.app{
  @apply text-center
}

.title {
  @apply text-4xl font-bold  py-2
}

.outer {
  @apply border-gray-500 border-2 mx-10 my-5 rounded-l-full rounded-r-full overflow-hidden 
}

.inner {
  @apply bg-green-500 text-white font-bold text-right transition-all duration-500 ease-in
}