@import "tailwindcss";

.main{
  @apply mx-5 my-5;
}

.tabs{
  @apply flex text-xl gap-5 mb-2 ;
}

.btn{
  @apply px-4 py-2 border-stone-300 border-2 rounded-2xl cursor-pointer hover:bg-blue-500 hover:text-gray-50 duration-500 
}

.dashBoard{
  @apply  flex justify-center items-center min-h-[500px] rounded-4xl bg-amber-50 shadow-2xl;
}

.dashboard-card{
  @apply w-full max-w-lg 
         bg-white 
         rounded-xl 
         shadow-lg 
         p-6;
}

/* profile component */
.label{
  @apply block text-sm font-medium text-gray-700
}

.input{
  @apply mt-1 block w-3/4 rounded-md border border-gray-300 px-3 py-2 
               focus:border-blue-500 focus:ring focus:ring-blue-200 outline-none
}

/* Interest component */

.label-check {
  @apply flex items-center gap-3 cursor-pointer text-gray-700 mb-2;
}

.check-input{
  @apply h-5 w-5 rounded border-gray-300 text-blue-600
                 focus:ring-blue-500;
}

.labelText{
  @apply text-sm font-medium
}