@import "tailwindcss";

.app{
  @apply text-center 
}

.title {
  @apply text-4xl font-bold  py-4 
}

.btn{
  @apply  rounded-2xl bg-gray-300 font-medium p-2 cursor-pointer
}

.acc-title{
  @apply bg-gray-300 p-4 font-bold cursor-pointer
}

.acc-dec{
  @apply bg-gray-100 p-4 font-semibold
}